.tuxedo{
    &--liste{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        &__spectacle{
            width: 100%;
            > a{
                display: flex;
                align-items: flex-start;
                padding: 20px 0;
                border-bottom: 1px solid black;
                text-decoration: none;
                transition: opacity 0.2s;
                &:hover{
                    opacity: 0.8;
                }
                @media screen and (max-width: 767px){
                    flex-direction: column;
                }
            }

        }
        &__image{
            position: relative;
            max-width: 40%;
            margin-right: 20px;

            img{
                height: auto;
                width: 100%;
                max-width: 100%;
                display: block;
            }

            @media screen and (max-width: 767px){
                max-width: 100%;
                width: 100%;
                margin-bottom: 10px;
            }
        }
        &__content{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            h2{
                font-size: 30px;
                line-height: 30px;
                font-weight: 500;
                margin: 0 0 3px 0;
            }
            span{
                font-size: 14px;
                line-height: 14px;
            }
        }
        .tuxedo--spectacle{
            &__date{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                margin-right: 15px;
                margin-top: 6px;
                flex-wrap: wrap;
                span{
                    text-transform: capitalize;
                }
            }
            &__prochaine{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
            }
            &__cta{
                font-size: 14px;
                margin-top: 8px;
                text-decoration: underline;
            }
            &__categories{
                margin-top: 6px;
            }
            &__subtitle{
                margin-top: 6px;
            }
            &__separator{
                margin: 0 5px;
            }
        }
    }
    &--spectacle{
        &__tag{
            z-index: 2;
            position: absolute;
            background-color: var(--global--color-background, var(--wp--preset--color--background, white));
            border: 1px solid var(--global--color-primary, var(--wp--preset--color--foreground, black));
            top: 0;
            left: 0;

            font-size: 12px;
            line-height: 12px;
            padding: 8px 12px;
            max-width: 70%;
        }
    }

}