.tuxedo-hidden {
  display: none; }

.acf-field-event-is-sold-out {
  pointer-events: none; }

.tuxedo p, .tuxedo a, .tuxedo input, .tuxedo span, .tuxedo td, .tuxedo th, .tuxedo li, .tuxedo ul, .tuxedo ol {
  font: 16px Helmet,Freesans,sans-serif; }
.tuxedo .form-table th {
  vertical-align: middle; }
.tuxedo .form-table .singles_checkbox.hidden {
  display: none; }
.tuxedo__instructions h2 {
  font-size: 1.5rem; }
.tuxedo__instructions ul {
  list-style-type: disc;
  margin-left: 2em; }
  .tuxedo__instructions ul ul {
    margin-top: 5px; }
.tuxedo__instructions > ul > li {
  padding-top: 10px; }
.tuxedo input[type="text"], .tuxedo input[type="password"] {
  min-height: 40px;
  width: 350px; }
.tuxedo__logo {
  margin-top: 20px; }
.tuxedo__image .-cancel {
  display: none; }
.tuxedo__notice p {
  background-color: #3750d1;
  display: inline-block;
  padding: 15px 20px 17px;
  font: 16px Helmet,Freesans,sans-serif;
  color: #fff; }
  .tuxedo__notice p a {
    color: #fff;
    transition: opacity 0.2s; }
    .tuxedo__notice p a:hover {
      opacity: 0.7; }
.tuxedo__instructions {
  display: block;
  font-size: 14px !important;
  margin-top: 5px; }
.tuxedo--forms {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 20px; }
  .tuxedo--forms__parameters {
    padding-right: 75px;
    border-right: 1px black solid; }
    .tuxedo--forms__parameters input[type="submit"] {
      margin-top: 25px; }
  .tuxedo--forms__buttons {
    padding-left: 75px; }
  .tuxedo--forms input[type="submit"], .tuxedo--forms .button, .tuxedo--forms .button-primary {
    font: 16px Helmet,Freesans,sans-serif;
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 20px 17px;
    border-radius: 25px;
    overflow: hidden;
    max-width: 100%;
    transition: all .25s ease-out;
    border: 1px solid #3750d1;
    color: #fff;
    background: #3750d1;
    font-weight: 400; }
    .tuxedo--forms input[type="submit"]::before, .tuxedo--forms .button::before, .tuxedo--forms .button-primary::before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: -1px;
      width: calc(100% + 2px);
      height: 150%;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      -webkit-transform-origin: bottom;
      transform-origin: bottom;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transition: -webkit-transform .25s ease-out;
      transition: transform .25s ease-out;
      transition: transform .25s ease-out,-webkit-transform .25s ease-out;
      background: #fff; }
    .tuxedo--forms input[type="submit"]:hover, .tuxedo--forms input[type="submit"]:focus, .tuxedo--forms input[type="submit"]:active, .tuxedo--forms .button:hover, .tuxedo--forms .button:focus, .tuxedo--forms .button:active, .tuxedo--forms .button-primary:hover, .tuxedo--forms .button-primary:focus, .tuxedo--forms .button-primary:active {
      color: #191919;
      border-color: #fff;
      background: #fff;
      box-shadow: unset; }
      .tuxedo--forms input[type="submit"]:hover::before, .tuxedo--forms input[type="submit"]:focus::before, .tuxedo--forms input[type="submit"]:active::before, .tuxedo--forms .button:hover::before, .tuxedo--forms .button:focus::before, .tuxedo--forms .button:active::before, .tuxedo--forms .button-primary:hover::before, .tuxedo--forms .button-primary:focus::before, .tuxedo--forms .button-primary:active::before {
        -webkit-transform: scaleY(1);
        transform: scaleY(1); }
.tuxedo--logs h2 {
  font-size: 20px; }
.tuxedo--logs h3 {
  font-size: 16px; }
.tuxedo--logs__wrapper {
  padding: 10px 0;
  display: block; }

/*# sourceMappingURL=tuxedo-importer-admin.css.map */
pre {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	overflow: auto;
	overflow-y: hidden;
	font-size: 12px;
	line-height: 20px;
	background: #efefef;
	border: 1px solid #777;
	background: url(lines.png) repeat 0 0;
	padding: 10px;
	color: #333;
}